<!DOCTYPE html>
<html>
    <head>
        <title>GuacG | Gevent WS Guacamole Broker</title>
    </head>
    <body>
        <div id='display'></div>

        <!-- Guacamole libs -->
        <script src="/static/js/arraybufferreader.js"></script>
        <script src="/static/js/arraybufferwriter.js"></script>
        <script src="/static/js/audiochannel.js"></script>
        <script src="/static/js/blobreader.js"></script>
        <script src="/static/js/inputstream.js"></script>
        <script src="/static/js/integerpool.js"></script>
        <script src="/static/js/outputstream.js"></script>
        <script src="/static/js/parser.js"></script>
        <script src="/static/js/status.js"></script>
        <script src="/static/js/stringreader.js"></script>
        <script src="/static/js/stringwriter.js"></script>

        <script src="/static/js/keyboard.js"></script>
        <script src="/static/js/mouse.js"></script>
        <script src="/static/js/layer.js"></script>
        <script src="/static/js/tunnel.js"></script>

        <script src="/static/js/client.js"></script>

        <script type="text/javascript">
            // Get display div from document
            var display = document.getElementById("display");

            // Instantiate client, using an HTTP tunnel for communications.
            var guac = new Guacamole.Client(
                    new Guacamole.WebSocketTunnel("/ws?{{ .CONNECT_ARGS }}")
            );

            // Add client to display div
            display.appendChild(guac.getDisplay());

            // Error handler
            guac.onerror = function(error) {
                console.log(error);
            };

            // Connect
            guac.connect();

            // Disconnect on close
            window.onunload = function() {
                guac.disconnect();
            }

            // Mouse
            var mouse = new Guacamole.Mouse(guac.getDisplay());

            mouse.onmousedown =
            mouse.onmouseup   =
            mouse.onmousemove = function(mouseState) {
                guac.sendMouseState(mouseState);
            };

            // Keyboard
            var keyboard = new Guacamole.Keyboard(document);

            keyboard.onkeydown = function (keysym) {
                guac.sendKeyEvent(1, keysym);
            };

            keyboard.onkeyup = function (keysym) {
                guac.sendKeyEvent(0, keysym);
            };
        </script>
    </body>
</html>
